body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #96adc8;
}
.banner {
  padding-left: 10px;
  background-color: #19647e;
  color: whitesmoke;
  display: flex;
  width: 100%;
  height: 5rem;
  font-size: 3rem;
  justify-content: space-between;
  align-content: center;
}

.btn-menu {
  background-color: transparent;
  border: transparent;
  color: black;
}

.bi-list {
  color: whitesmoke;
}

.add-task {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}

.add-task-button {
  font-size: 1.5rem;
}

.add-task-label {
  margin-left: 3px;
}

.the-new-task {
  width: 30rem;
  height: 100%;
}
.confirm-list-button {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  justify-content: center;
  display: flex;
}

.bottom-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  bottom: 0;
  position: fixed;
  background-color: #19647e;
  width: 100%;
  color: whitesmoke;
  padding: 0px 10px 0px 10px;
}

#task-container {
  display: flex;
  margin: auto;
  width: 30rem;
  font-size: 1.2rem;
  /* border: 1px solid black; */
  height: fit-content;
  flex-direction: column;
  text-align: center;
}

.confirmed-task {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
}

.edit-btn {
  background-color: transparent;
  border: transparent;
}
